body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {
    color: #66BFBF;
    font-size: 5.625rem;
    width: 20%;
    line-height: 2;
    margin: 0 auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

.top-container {
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}

.cloud-top {
    position: absolute;
    right: 400px;
    top: 50px;
}

.cloud-bottom {
    position: absolute;
    left: 350px;
    bottom: 300px;
}

.profile-picture {
    border-radius: 100%;
}

a {
    color: #11999E;
}
